<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="adb" />
  <package id="adobereader" />
  <package id="androidstudio" />
  <package id="anki" />
  <package id="audacity" />
  <package id="audacity-lame" />
  <package id="autohotkey" />
  <package id="autohotkey.install" />
  <package id="autohotkey.portable" />
  <package id="awscli" />
  <package id="birdtray" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="chocolatey-uninstall.extension" />
  <package id="chocolatey-visualstudio.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="choco-upgrade-all-at-startup" />
  <package id="deluge" />
  <package id="docker" />
  <package id="docker-cli" />
  <package id="docker-compose" />
  <package id="docker-desktop" />
  <package id="dotnetfx" />
  <package id="eartrumpet" />
  <package id="ffmpeg" />
  <package id="file-converter" />
  <package id="filezilla" />
  <package id="Firefox" />
  <package id="get-childitemcolor" />
  <package id="git" />
  <package id="git.install" />
  <package id="git-lfs" />
  <package id="git-lfs.install" />
  <package id="Gow" />
  <package id="graphicsmagick" />
  <package id="graphviz" />
  <package id="hashtab" />
  <package id="hxd" />
  <package id="imagemagick.app" />
  <package id="inconsolata" />
  <package id="jdk8" />
  <package id="jetbrainstoolbox" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3118401" />
  <package id="keepass" />
  <package id="keepass.install" />
  <package id="keepass-keepasshttp" />
  <package id="k-litecodecpackfull" />
  <package id="kodi" />
  <package id="lsd" />
  <package id="mactype" />
  <package id="mariadb" />
  <package id="miktex" />
  <package id="miktex.install" />
  <package id="mpvnet.install" />
  <package id="neo4j-community" />
  <package id="neovim" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="nomacs" />
  <package id="openjdk11" />
  <package id="openjdk13" />
  <package id="open-shell" />
  <package id="openssh" />
  <package id="pandoc" />
  <package id="php" />
  <package id="powershell-core" />
  <package id="putty" />
  <package id="putty.portable" />
  <package id="python2" />
  <package id="python3" />
  <package id="python311" />
  <package id="RobotoFonts" />
  <package id="ruby" />
  <package id="ruby.install" />
  <package id="rufus" />
  <package id="scenebuilder9" />
  <package id="sharex" />
  <package id="speedcrunch" />
  <package id="speedcrunch.install" />
  <package id="sumatrapdf" />
  <package id="sumatrapdf.install" />
  <package id="Temurin11" />
  <package id="thunderbird" />
  <package id="tldr-plusplus" />
  <package id="tortoisegit" />
  <package id="ungoogled-chromium" />
  <package id="vcredist140" />
  <package id="vcredist2008" />
  <package id="vcredist2010" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="visualstudio-installer" />
  <package id="windirstat" />
  <package id="winfsp" />
  <package id="WinPcap" />
  <package id="wireshark" />
  <package id="yt-dlp" />
  <package id="zoom" />
</packages>